TLSCTRL_ADMIN_LISTEN_ADDR=:9080
TLSCTRL_CLIENT_LISTEN_ADDR=:9443

# memory | govpp
TLSCTRL_BACKEND=memory
TLSCTRL_VPP_API_SOCKET=/run/vpp/api.sock
TLSCTRL_REQUIRE_VPP=true

TLSCTRL_DATA_DIR=./agent-data
TLSCTRL_SERVER_NAME=localhost
TLSCTRL_PUBLIC_HOST=127.0.0.1
TLSCTRL_CLIENT_PUBLIC_URL=
TLSCTRL_REQUIRE_CLIENT_CERT=true
